<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="module" defer src="./home-page-handler.js"></script>

    <link rel="stylesheet" href="../stylesheets/home-page-style.css">
    <link rel="stylesheet" href="../stylesheets/slider.css">

    <title>House Finder</title>
</head>

<body>
    <!-- add filter options -->
    <h1><u>HouseFinder</u></h1>
    <div class="filter-options">
        <p type="price">price</p>
        <p type="area">area</p>
        <p type="beds">beds</p>
        <p type="baths">baths</p>
        <p type="age">age</p>
        <p type="property_area">property area</p>
    </div>
    <button id="search">search</button>
    <button id="reset">reset filter</button>
    <p id="descriptor"></p>
    <div class="content">
    </div>
    <div class="wrapper">
        <div class="values">
            <span id="range1">
            </span>
            <span id="range2"></span>
        </div>
        <div class="container">
            <div class="slider-track"></div>
            <input step="0" type="range" min="0" max="100" value="0" id="slider-1">
            <input step="0" type="range" min="0" max="100" value="0" id="slider-2">
        </div>
    </div>
</body>

</html>