<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="module" defer src="./home-page-handler.js"></script>

    <link rel="stylesheet" href="../stylesheets/home-page-style.css">

    <title>House Finder</title>
</head>

<body>
    <!-- add filter options -->
    <h1><u>HouseFinder</u></h1>
    <div class="filter-options">
        <p>price</p>
        <p>area</p>
        <p>beds</p>
        <p>baths</p>
        <p>age</p>
        <p>property area</p>
    </div>
    <button id="search">search</button>
    <button id="reset">reset filter</button>
    <p id="descriptor"></p>
    <div class="content">
    </div>
</body>

</html>